.shipping-footer {
    margin-top: auto;
}



iframe{
  width:200px;
  height:100px;
  height:auto;
}

.map-col{
  padding-left: 4rem;

}

.footer-head-color{
  color:silver;
}

.image-feature{
   

}

.addCartText{
  display: inline-block;
}
