.yourPurchases{
  background-color: #3e444c;
}

.shipping-billing{
  margin-top: 60px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.cvv-form{
  text-align: right;
}

.same-as-shipping{
  float: right;
  font-size: 10px;
}

.card-inputs {
  text-align: center;
  width: 6.5rem;
  display: inline-block;
}
.panel .panel-default .credit-card {
  margin: 1rem 17rem 1rem;
}

.credit-card select {
  display: inline-block;
  width: 6.5rem;
}

div.cvv-field input {
  display: inline-block;
  width: 5rem;
}
