input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}



.same-as-shipping{
  float: right;
  font-size: 10px;
  /*margin-left: 42%;*/

}
